/bootstrap/compiled.php
/vendor
/node_modules
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/app/storage/
/app/config/development/database.php
index.html
.idea
.env
public/bower_components/
public/public.tar.gz
aj.tar.gz
keep_note.txt
/public/uploads
/public/upload
imp.txt