html, body {
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.01em;
}
html, body {
	background: #F5F5F5;
	color: #212121;
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
}

* {
	box-sizing: border-box;
}


.navbar-fixed {
	left: 0;
	position: fixed;
	top: 0;
	-webkit-transition: box-shadow 0.25s cubic-bezier(1, 0, 0, 1);
	transition: box-shadow 0.25s cubic-bezier(1, 0, 0, 1);
	width: 100%;
	z-index: 1000;
}
.padding-300{
	padding-top: 300px;
}
.padding-260{
	padding-top: 260px;
}
.padding-100{
	padding-top: 100px;
}
.padding-315{
	padding-top: 315px;	
}
.ft-lft{
	float: left;
}
.navbar-header {
	display: flex;
	float: left;
}
.nav.navbar-nav {
	margin-right: 40px;
}
.nav>li>a, .nav>li>span {
    color: #dcdcdc;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 24px;
    padding: 16px;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
}
.list-unstyled, .list-inline, .nav {
	list-style: none;
	padding-left: 0;
}

.navbar-nav {
	float: right;
	margin: 0;
}
.nav>li {
	display: block;
}
.navbar-nav>li {
	float: left;
}
.io-nav .nav>li>a {
    text-transform: uppercase;
}
a{
	text-decoration: none;
}

.logo-text{
	font-size: 26px;
	color: white;
	line-height: 55px;
	padding-left: 30px;
}
.md-headings{
	font-weight: normal;
    padding-left: 20px;
    margin: 0px;
}
.md-custom-center {
    margin: 0 auto;
    width: 30%;
    display: block;
    background: #6ab344 !important;
    color: white !important;
        min-width: 140px;
    max-width: 250px;
}
.bg-dark-grey .md-headings{
	color: white;
}
/** Css for Card **/
/*.card-md{
	width: 400px;
	}*/


	/** Color and Background **/
	.bg-dark-grey {
		background-color: #455A64;
	}
	.bg-light-grey {
		background-color: #F5F5F5;
	}
	.bg-info{
		background-color: rgb(63, 81, 181) !important;
	}
	.bg-success{
		background-color:  rgb(106, 179, 68) !important;
		color: white;
	}
	.bg-primary{
		background-color: rgb(63,81,181) !important;
	}
	.bg-transparent{
		background: transparent;
	}
	.cl-success{
		color: rgb(106, 179, 68);
	}
	.cl-primary{
		color: rgb(63,81,181);
	}


	/** Responsive CSS **/

	@media only screen and (min-width: 1044px){
		.container, .section-header, md-tabs-wrapper {
			margin-left: auto;
			margin-right: auto;
			max-width: 1044px;
		}
		.md-card-image{
			width: 321px;
		}
		.md-card-min-height{
			min-height: 240px;
			padding-top: 10px;
		}
	}
	.md-center{
		margin: 0 auto;
	}

	.container-resize{
		width: calc((100% + 50px)*2/3 - 24px)
	}

/** Utility CSS **/
.md-section{
	padding: 50px 0;
}
.md-block{
	display: block;
}
.md-vt-center{
	vertical-align: middle;
	color: #B7B7B7;
}
.bg-overlay-sm{
	height: 200px !important;
}
.w-100{
	width: 100%;
}
.md-button-fix{
	color: #dcdcdc;
	padding: 0px;
    margin-top: 2px;
}
.text-center {
    text-align: center;
}
.navbar-fixed.sticky {
    box-shadow: 0 1px 6px rgba(0,0,0,0.35);
    background-color: #fff;
}
.navbar-fixed.sticky a, 
.navbar-fixed.sticky .md-button-fix,
.navbar-fixed.sticky .logo-text{
	color: #888;
}
.landing-hero{
	min-height: 26.90909rem;
    padding-top: 6.5rem;
    padding-bottom: 3rem;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
md-card-content.md-card-min-height p {
    padding-bottom: 5px;
    margin-bottom: 6px;
    color: #212121;
    font-weight: 300;
    text-shadow: none;
    text-rendering: geometricPrecision;
    margin: 0px;
}
.landing-hero h1{
	color: efefef;
    z-index: 102;
    position: relative;
    font-size: 40px;
}
.bg-overlay{
	position: absolute;
    height: 432px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
}
	/** text button **/
	.button, .text-button, .tabs-link {
		color: #6ab344;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 0.5px;
		line-height: 16px;
		text-transform: uppercase;
		white-space: nowrap;
	}
	.text-button--bottom {
		bottom: 24px; 
		position: absolute;
	}


	/** Utility CSS **/
	.ma-t-15{
		margin-top: 15px;
	}
	.md-sm{
		font-size: 16px;
		line-height: 20px;
	}

	/** For Owl Slider **/
	.owl-theme .owl-controls{margin-top:10px;text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-controls .owl-nav [class*=owl-]{color:#fff;font-size:14px;margin:5px;padding:4px 7px;background:#d6d6d6;display:inline-block;cursor:pointer;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{background:#869791;color:#fff;text-decoration:none}.owl-theme .owl-controls .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1;*display:inline}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#d6d6d6;display:block;-webkit-backface-visibility:visible;-webkit-transition:opacity 200ms ease;-moz-transition:opacity 200ms ease;-ms-transition:opacity 200ms ease;-o-transition:opacity 200ms ease;transition:opacity 200ms ease;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}


	/** CSS for welcome page **/
	.abs-banner{
		position: absolute;
	    top: 0px;
	    display: block;
	    z-index: 9;
	    height: 400px;
	    left: 0;
	    width: 100%;
	}
	.md-rel-card{
		position: relative;
		width: 1000px;
		z-index: 101;
	}

	/** Label for button **/
	.md-success{
		background-color: rgb(106, 179, 68) !important;
    	color: rgb(255,255,255);
	}


	/** Label for inline List **/
	.list-inline{
		margin: 0;
		text-align: center;
	}
	.list-inline li{
	    display: inline-block;
	    vertical-align: bottom;
	}
	.simple-text{
		font-size: 30px;
    	font-weight: 300;
	}
	.ma-fluid{
		margin-left: 72px;
		margin-right: 72px;
	}
	.md-virtual-repeat-container.md-autocomplete-suggestions-container{
		z-index: 999;
	}

	.z-hero{
		z-index: 10;
		position: relative;
	}
	.z-active{
		z-index: 10;
		position: relative;
	}
	.list-group li{
		list-style: none;
	}
	.md-open-menu-container{
		z-index: 1001;
	}
	.abs-filter{
		position: absolute;
		top: 100px;
		width: 320px;
		z-index: 90;
		left: 0px;
	}
	.list-group{
		padding: 0px;
	}
	.menu-demo-container{
		float: right;
	}