<div>
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
        <md-content layout-padding>
            <form>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Add Defect </label>
                    <input md-maxlength="150" required name="title" ng-model="dataModel.title" md-autofocus my-enter="addBug(dataModel.title)">
                    <div ng-messages="Form.title.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The Defect has to be less than 150 characters long.</div>
                    </div>
                </md-input-container>
            </form>
        </md-content>

        <md-card ng-repeat="task in tasks">
            <md-card-content>
            <p>{{ task.title }}</p>
            </md-card-content>    
        </md-card>

    </md-sidenav>
</div>
