<style type="text/css">
    .ta-editor {
    min-height: 100px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.text-editor{
    width: 700px;
}
</style>

<md-dialog aria-label="Issue" ng-cloak flex="60">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h4>{{ title }}</h4>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="column" ng-cloak>
            <md-content layout-padding>
                <form name="Form">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Title</label>
                            <input md-maxlength="200" required name="title" ng-model="dataModel.title">
                            <div ng-messages="Form.title.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">The title has to be less than 200 characters long.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Page Order</label>
                            <md-select ng-model="dataModel.order">
                                <md-option value="before">Before</md-option>
                                <md-option value="after">After</md-option>
                                <md-option value="childOf">Child of</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label></label>
                            <md-select ng-model="dataModel.orderIssue" aria-label="Select Order">
                                <md-option ng-repeat="issue in issues" value="{{ issue.id }}">
                                    <span ng-bind-html="[[ makePadding(issue.title,issue.depth) ]]" padded-title></span>
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <label>Description</label>
                    <md-input-container class="md-block">
                        <div class="container app text-editor">
                            <div text-angular="text-angular" name="description" ng-model="dataModel.description"></div>
                        </div>
                    </md-input-container>
                </form>
            </md-content>
        </div>
    </md-dialog-content>
    <form-button></form-button>
</md-dialog>
