<md-button class="md-raised" ng-click="CreateForm($event)">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Issue</md-button>
<div layout="row" layout-sm="column" layout-align="space-around" ng-hide="dataLoaded">
    <md-progress-circular md-mode="indeterminate" md-diameter="100%"></md-progress-circular>
</div>
<div class="table-responsive" ng-show="dataLoaded">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dataModel in pages">
                <td>{{ ($index+1)+(itemsPerPage*(currentPage-1)) }}</td>
                <td>
                    <span ng-bind-html="[[ makePadding(dataModel.title,dataModel.depth) ]]" padded-title></span>
                </td>
                <td>
                    <button type="button" ng-click="CreateForm($event,dataModel)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="remove(dataModel.id,$index,$event)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                </td>
            </tr>
            <tr colspan="5">
            </tr>
        </tbody>
    </table>
    
    <div ng-show="totalItems > itemsPerPage" class="pagination">
        <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-click="pageChanged()"></uib-pagination>
        <p><span>Total {{ totalItems }} records found.</span></p>
    </div>
</div>
