<table class="mdl-data-table mdl-js-data-table" width="700">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Sr.No.</th>
            <th class="mdl-data-table__cell--non-numeric">Title</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-hide="dataLoaded">
            <td colspan="5">
                <div layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate" md-diameter="100%"></md-progress-circular>
                </div>
            </td>
        </tr>
        <tr ng-repeat="dataModel in pages">
            <td class="mdl-data-table__cell--non-numeric">{{ ($index+1)+(itemsPerPage*(currentPage-1))}}</td>
            <td class="mdl-data-table__cell--non-numeric">
                <span ng-bind-html="[[ makePadding(dataModel.title,dataModel.depth) ]]" padded-title></span>
            </td>
            <td>
                <a href="javascript:;" ng-click="CreateForm($event,page)">Edit</a> |
                <a href="javascript:;" ng-click="remove(page.id,$index,$event)">Remove</a>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div ng-show="totalItems > itemsPerPage">
                    <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-click="pageChanged()"></uib-pagination>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div layout="row">
    <md-button class="md-primary md-fab md-fab-bottom-right" ng-click="CreateForm($event)">Add</md-button>
</div>
