
<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">

    <md-input-container class="md-block">
        <label>Title</label>
        <input name="clientName" ng-model="data.title" my-enter="save($event,data)">
    </md-input-container>

    <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="dataLoaded">
        <md-progress-circular md-mode="indeterminate" md-diameter="100%"></md-progress-circular>
    </div>

    <md-list ng-cloak ng-show="dataLoaded">
        <md-list-item ng-repeat="project in dataList">

            <md-button flex="95%" ui-sref="project.show({ id:[[project.id]] })" >[[project.title]]</md-button> 

            <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="remove(project.id,$index,$event)">
            <md-icon md-svg-icon="/assets/svg/cross.svg"></md-icon>
            </md-button>
        </md-list-item>
    </md-list>

</md-sidenav>


<md-content flex id="content" ui-view>

</md-content>