<md-card>
    <md-card-content>
        <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="dataLoaded">
            <md-progress-circular md-mode="indeterminate" md-diameter="100%"></md-progress-circular>
        </div>
        <md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column" ng- show="dataLoaded">
            <div layout="row" ng-if="activeSprint.length != 0">
            
                <h4>{{ activeSprint.title }}</h4>

                <div ng-if="activeSprint">
                    <span day-difference start-date="activeSprint.start_date" end-date="activeSprint.end_date"></span>
                    <span days-remaining end-date="activeSprint.end_date"></span>
                </div>
            </div>

            <div layout="row" ng-if="activeSprint.length == 0">
                <h4>Active Sprint not found.</h4>
            </div>

            <div layout="row" flex="100">
                <div flex="40" flex-xs="100" layout="column" ng-repeat="board in activeSprint.boards">
                    <div layout="row">
                        <div>
                            <label> {{ board.title }} </label>
                        </div>
                    </div>
                    <md-card ng-show="(board.tasks.length == 0)" rj-drag>
                        <md-card-content>
                            <span ng-hide="true" ng-bind="task.board_id = board.id"> </span>
                            <p>Drop Issue here..</p>
                        </md-card-content>
                    </md-card>
                    <md-card ng-repeat="task in board.tasks" draggable="true" rj-drag ng-dblclick="taskForm($event,task)">
                        <span ng-hide="true">{{ task.order = $index }}</span>
                        <rj-task task=task hide-remove-button="true" sprint-id="activeSprint.id" get-data="getData(param)"> </rj-task>
                    </md-card>
                </div>

                <div flex="40" ng-if="activeSprint.length != 0">
                    <md-input-container class="md-block" ng-show="addingBoard">
                        <label>Board Title</label>
                        <input name="clientName" ng-model="board.title" my-enter="addBoard($event,board)">
                    </md-input-container>
                    <md-button ng-hide="addingBoard" class="md-raised md-primary" ng-click="toggleInput($event,'addingBoard')">Add Board</md-button>
                </div>
                
            </div>
            </div>
        </md-content>
    </md-card-content>
</md-card>
