<md-dialog aria-label="Mango (Fruit)"  ng-cloak flex="60">
<md-toolbar>
<div class="md-toolbar-tools">
    <h4>{{ title }}</h4>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
    <md-icon  aria-label="Close dialog">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </md-icon>
    </md-button>
</div>
</md-toolbar>
<md-dialog-content>
<div layout="column" ng-cloak>
    <md-content layout-padding>
    <form name="Form">

        <md-input-container class="md-block">
        <label>Summery</label>
        <input md-maxlength="150" required name="title" ng-model="dataModel.title" ng-blur="makeSlug(dataModel.title)">
        <div ng-messages="Form.title.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The title has to be less than 150 characters long.</div>
        </div>
        </md-input-container>

        <md-input-container class="md-block">
        <label>Description</label>
        <input md-maxlength="200"  name="description" ng-model="dataModel.description" ng-blur="makeSlug(dataModel.description)">
        <div ng-messages="Form.description.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The description has to be less than 200 characters long.</div>
        </div>
        </md-input-container>


    </form>
    </md-content>
</div>

</md-dialog-content>

    <form-button></form-button>

</md-dialog>


