<md-dialog aria-label="Mango (Fruit)"  ng-cloak flex="40">
<md-toolbar>
<div class="md-toolbar-tools">

    <h4>[[ title ]]</h4>
    
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
    <md-icon  aria-label="Close dialog">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </md-icon>
    </md-button>
</div>
</md-toolbar>
<md-dialog-content>
<div layout="column" ng-cloak>
    <md-content layout-padding>
    <form name="Form">

        <md-input-container class="md-block">
        <label>Title</label>
        <input ng-disabled="dataModel.titleStatus" md-maxlength="150" required name="title" ng-model="dataModel.title" ng-blur="makeSlug(dataModel.title)">
        <div ng-messages="Form.title.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The title has to be less than 150 characters long.</div>
        </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Duration</label>
            <md-select ng-model="dataModel.duration" ng-change="durationChanged(dataModel.duration)">
              <md-option value="7"> 1 Week </md-option>
              <md-option value="14"> 2 Week </md-option>
              <md-option value="21"> 3 Week </md-option>
              <md-option value="28"> 4 Week </md-option>
              <md-option value="0"> Custome </md-option>
            </md-select>
        </md-input-container>

        <md-datepicker ng-disabled="dataModel.duration != 0" make-date ng-model="dataModel.start_date" md-placeholder="Enter start date"></md-datepicker>
        <md-datepicker ng-disabled="dataModel.duration != 0" make-date  ng-model="dataModel.end_date" md-placeholder="Enter end date"></md-datepicker>

    </form>
    </md-content>
</div>

</md-dialog-content>

    <form-button></form-button>

</md-dialog>


