
<md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column" ng-controller="TaskController">

<div flex="">
    
    <div layout="row">

        <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="sprintDataLoaded">
            <md-progress-circular md-mode="indeterminate" md-diameter="100%"></md-progress-circular>
        </div>

        <div  flex="40" flex-xs="100" layout="column" ng-repeat="sprint in sprintList" ng-show="sprintDataLoaded">
            <label ng-dblclick="sprintForm($event,sprint)">[[ sprint.title ]]</label>
            <md-input-container class="md-block">
                <label>Add Issue</label>
                <input name="clientName" ng-model="sprint.issue_title" my-enter="addSprintTask($event,sprint)">
            </md-input-container>

            <md-card  ng-show="(sprint.tasks.length == 0)"   rj-drag >
            <md-card-content> 
            <span ng-hide="true" ng-bind="task.sprint_id = sprint.id"> </span>
            <p>Drop Issue here..</p>
            </md-card-content>
            </md-card>

            <md-card ng-repeat="task in sprint.tasks"  draggable="true"  rj-drag ng-dblclick="taskForm($event,task)">
            <md-card-content>
            <span ng-hide="true">[[ task.order = $index ]]</span>
            <p>[[ task.title ]]
                <span class="pull-right">    
                    <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="removeSprintTask(task,$index,$event,sprint)">
                    <md-icon md-svg-icon="/assets/svg/cross.svg"></md-icon>
                    </md-button>
                </span>
            </p>
            </md-card-content>
            </md-card>
        </div>

    </div>
    <md-button class="md-raised md-primary" ng-click="sprintForm($event)">Add Sprint</md-button>    
</div>




  

  





