

<div flex="25"></div>

<div flex="75">
    <md-content>
    <md-list>
      <md-subheader class="md-no-sticky">Users</md-subheader>
      <md-list-item class="md-3-line" ng-repeat="dataModel in dataList" ng-dblclick="CreateForm($event,dataModel)">
        <img alt="[[ dataModel.name ]]" ng-src="[[ dataModel.image_url ]]" class="md-avatar" />
        <div class="md-list-item-text" layout="column">
          <h3> [[ dataModel.name ]] </h3>
          <h4> [[ dataModel.email ]] </h4>
        </div>
        <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="remove(dataModel.id,$index,$event)">
            <md-icon md-svg-icon="img/icons/cross.svg"></md-icon>
        </md-button>
      </md-list-item>
    </md-list>

    </md-content>

    <div layout="row">
        <md-button class="md-primary md-fab md-fab-bottom-right" ng-click="CreateForm($event)">Add</md-button>
    </div>

</div>

<div flex="25"></div>


