<md-toolbar layout="row">


<md-button class="menu" hide-gt-sm ng-click="toggleList()" aria-label="Show User List">
<md-icon md-svg-icon="menu" ></md-icon>
</md-button>

<div layout="row" layout-align="center center">


<md-button ui-sref="dashboard" ui-sref-active="dashboard"> Dashboard </md-button>
<md-button ui-sref="project" ui-sref-active="project"> Project </md-button>
<md-button ui-sref="board" ui-sref-active="Board"> SCRUM Board </md-button>
<md-button ui-sref="people" ui-sref-active="people"> People </md-button>

</div>




<div class="menu-demo-container" layout-align="end end" layout="row">

    <md-menu>
    <md-button ng-click="openMenu($mdOpenMenu, $event)"> <span ng-show="login"> [[ user.name]]</span></md-button>

    <md-menu-content width="4">

    <md-menu-item>
    <md-button>Profile</md-button>
    </md-menu-item>

<!--     <md-menu-item>
    <md-button>Rentex</md-button>
    </md-menu-item> -->

    <md-menu-divider></md-menu-divider>

    <md-menu-item>
    <a href="/auth/logout"><md-button>Logout </md-button></a>
    </md-menu-item>

    </md-menu-content>
    </md-menu>

</div>

</md-toolbar>