<md-toolbar layout="row" class="md-whiteframe-z1">
    <md-button id="main" class="menu" hide-gt-sm ng-click="toggleSidenav()" aria-label="Show side nav">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <div layout="row" layout-align="center center" flex="20">
        <md-button ui-sref="dashboard" ui-sref-active="home">SoftyCraft</md-button>
    </div>
    <div layout="row" layout-align="center center" flex="30">
    </div>
    <div layout="row" layout-align="end center" flex="50">
        <md-button ui-sref="dashboard" ui-sref-active="dashboard"> Dashboard </md-button>
        <md-button ui-sref="people" ui-sref-active="people"> People </md-button>
        <!-- <md-button ui-sref="project" ui-sref-active="project"> Project </md-button>         -->
    </div>
    <div class="menu-demo-container" layout-align="end center" layout="row">
        <md-menu>
            <md-button ng-click="openMenu($mdOpenMenu, $event)">Project</span>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item ng-repeat="project in recentProjects">
                    <md-button ui-sref="project.overview({ id:{{ project.id }} })">{{ project.title }}</md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ui-sref="allproject">All Projects</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <div class="menu-demo-container" layout-align="end center" layout="row">
        <md-menu>
            <md-button ng-click="openMenu($mdOpenMenu, $event)"> <span ng-show="login"> {{ user.name }}</span></md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button>Profile</md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-click="logout($event)">Logout </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
