<!-- BOARDS -->
<div id="boards" class="md-accent-bg" layout="column" flex>
    <!-- BOARD SELECTION -->

    <div id="board-selector" layout="column" layout-align="start center" flex>

        <h1>Boards of {{ vm.project.title }}</h1>
        <!-- BOARD LIST -->

        <div class="board-list" layout="row" layout-align="center center" layout-wrap>

            <div class="board-list-item" ui-sref="app.board.wbs" layout="column" layout-align="center center">
                <md-icon md-font-icon="icon-trello" class="icon s64"></md-icon>
                <div class="board-name">WBS Board</div>
            </div>

            <!-- BOARD -->
            <div class="board-list-item" ng-repeat="board in vm.project.sprints" ui-sref="app.board.show({board_id:board.id, id:board.project_id})" layout="column" layout-align="center center">
                <md-icon md-font-icon="icon-trello" class="icon s64"></md-icon>
                <div class="board-name">{{board.title}}</div>
            </div>
            <!-- / BOARD -->

            <!-- NEW BOARD BUTTON -->
            <div class="board-list-item add-new-board" layout="column" layout-align="center center" ui-sref="app.board.addBoard">
                <md-icon md-font-icon="icon-plus-circle" class="icon s64"></md-icon>
                <div class="board-name">Add new board</div>
            </div>
            <!-- / NEW BOARD BUTTON -->

        </div>
        <!-- / BOARD LIST -->
    </div>
    <!-- / BOARD SELECTION -->
</div>
<!-- / BOARDS -->
