<md-dialog class="event-form-dialog" aria-label="New Message">
    <form name="Form" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.dialogTitle}}</span>
                <md-button class="md-icon-button" aria-label="Close dialog" translate translate-attr-aria-label="CALENDAR.CLOSE_DIALOG" ng-click="cancel()" modal-cancel-buttton>
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
            <div layout="column" layout-gt-sm="row">

                <md-input-container flex>
                    <input type="text" name="title" ng-model="vm.dataModel.title" placeholder="Title" required>
                    <div ng-messages="Form.title.$error" role="alert">
                        <div ng-message="required"><span>Title field is required.</span></div>
                    </div>
                </md-input-container>
            </div>

            <div layout="row" class="date-row">
                <md-datepicker ng-model="vm.dataModel.start_date" md-placeholder="Project Start Date"></md-datepicker>
                <md-datepicker ng-model="vm.dataModel.end_date" md-placeholder="Project End Date"></md-datepicker>
            </div>

            <md-input-container flex class="md-block textarea-container">
                <label>Description</label>
                <textarea ng-model="vm.dataModel.description" md-maxlength="250"></textarea>
            </md-input-container>

        </md-dialog-content>
        
        <md-dialog-actions layout="row" layout-align="space-between center">
            <md-button class="save-button md-accent md-raised" aria-label="SAVE" ng-click="vm.save(vm.dataModel)" can-save-form ng-disabled="!canSave(Form)">
                <span ng-if="dataSaved">Save</span>
                <span ng-if="!dataSaved">Saving...</span>
            </md-button>
            <md-button ng-click="cancel()" modal-cancel-buttton class="save-button md-warn md-raised" aria-label="SAVE">CANCEL</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
