<md-list>

    <!-- ADD NEW MEMBER -->
    <md-list-item class="add-new-member">
    <div flex="70">
        <md-contact-chips 
        ng-model="vm.selectedUser" 
        md-contacts="vm.memberQuerySearch($query)" 
        md-contact-name="name" 
        md-contact-image="image_url" 
        md-require-match="true" 
        md-highlight-flags="i" 
        placeholder="Add Member" flex>
        </md-contact-chips>
    </div>
    <div flx="30">
        <md-button type="submit" class="md-accent md-raised" aria-label="Add New Member" ng-click="vm.addNewMember()">Add</md-button> 
    </div>    
    </md-list-item>
    <!-- / ADD NEW MEMBER -->

    <md-divider></md-divider>

    <!-- MEMBERS -->
    <md-list-item class="member" ng-repeat="member in vm.board.users">
        <img alt="{{ member.name }}" ng-src="{{ member.image_url }}" class="md-avatar" />
        <p class="member-name">{{ member.name }}</p>
        <md-button ng-click="vm.removeMember($event, member);" class="remove-button md-icon-button" aria-label="remove">
            <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>
    </md-list-item>
    <!-- / MEMBERS -->

</md-list>
